{% extends "account/base.html" %}

{% load static%}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-fluid text-center">
    <img src="{% static 'images/success.png' %}" alt="success Image" height="200px" width="200px">
    <h3 class="h3 mt-5">{% trans "Change Password" %}</h3>
    <p>{% trans "Your password is now changed you will be redirected to sign in page in 5 seconds." %}</p>

    <script>
		setTimeout("location.href = '{% url 'account_login' %}';",6000);
	</script>
</div>
{% endblock %}
