{% extends "base.html" %}
{%load static%}
{% block title %}

A Propos
{% endblock title %}

{% block content %}

<!-- Section des Besoins -->

<div class="container-fluid">
    <div class="row">
      <div class="space-2 bg-light">
          <div class="container">
              <div class="row mb-5 text-center text-uppercase">
                  <h1>A Propos</h1>
              </div>
             <div class="row d-flex">


                <!-- end col -->
             </div>
          </div>
       </div>
    </div>
</div>

{% endblock content %}