{% extends "base.html" %}
{%load static%}
{% block title %}

A Propos
{% endblock title %}

{% block content %}

<!-- Section des Besoins -->

<div class="container-fluid">
    <div class="row">
      <div class="space-2 bg-light">
          <div class="container">
              <div class="row mb-5 text-center text-uppercase">
                  <h1>A Propos</h1>
              </div>
             <div class="row d-flex">
                <p> Contre la misére, l'extrème pauvreté et les inégalités sociales, nous 
                    montons au front. Nous, c'est World Vision, nos donateurs et nos partenaire
                    qui devenons un pour porter assistance aux couches vulnérables de nos communautées.
                    Et parceque nous sommes le sel de la terre, nous visons à travers nos actions: nos compétence
                    , nos resoources financières et matérielles à impacter
                    des hommes et des femmes sans distinction de race, de réligion à travers l'amour de notre 
                    seigneur Jesus-Christ.
                    
                </p>
                <p>
                    Vous et Nous transformons ensemble des vis dans la transparence et la confiance sous la bannière
                    de notre seigneur Jesus-Christ.
                </p>

                <!-- end col -->
             </div>
          </div>
       </div>
    </div>
</div>

{% endblock content %}