{%load static%}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'index.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>
  <title>{% block title %}{% endblock title %} | Crowd Christian Donnors</title>
</head>
<body style="overflow-y: scroll">

  <header>
      <!-- Navigation Menue -->
      {%include 'navbar.html'%}
  </header>

<div class="row">
   <div class="space-2 bg-light">

      {% block content%}
    
        {% block messages %}
        {% endblock %}
      
      {% endblock %}
      
      {% block content_extra %}
      {% endblock %}
      
      {% block extra_body %}
      {% endblock %}
   </div>
</div>

   
   <!-- Divider-->
   <div class="container divider">
      <div class="row">
        
      </div>
    </div>
  <footer>
      <div class="text-center" style="background-color:white;">© Copyright 2021 Hack|<span style="color: orange;"> Lome</span></div>
  </footer>
  <script src="{% static 'index.js' %}"></script>
</body>
</html>