{% load static %}
<nav class="flex">
  <a class="navbar-brand" href="/">
    <img src="{%static 'images/logo.png'%}" width="130" height="30" alt="">
  </a>
    
    <button id="navToggleButton">
      <svg id="hamburger" xmlns="http://www.w3.org/2000/svg" width="16" height="15"><g fill="#FFF" fill-rule="evenodd"><path d="M0 0h16v3H0zM0 6h16v3H0zM0 12h16v3H0z"/></g></svg>
      <svg id="closeNav" style="display: none;" xmlns="http://www.w3.org/2000/svg" width="14" height="15"><g fill="#FFF" fill-rule="evenodd"><path d="M2.404.782l11.314 11.314-2.122 2.122L.282 2.904z"/><path d="M.282 12.096L11.596.782l2.122 2.122L2.404 14.218z"/></g></svg>
    </button>

    <div class="navItemsContainer">
      <a href="{% url 'core:home' %}" class="navItem">Accueil</a>
      <a href="{% url 'core:apropos' %}" class="navItem">A Propos</a>
      <a href="{% url 'core:liste' %}" class="navItem">Decouvrir les Besoins</a>
      <a href="{% url 'core:ajouter_don' %}" class="navItem">Faire un Don</a>
      <a href="/accounts/login"><button class="btn btn-success" style="margin: 11px;">Se Connecter</button></a>
      <a href="/accounts/signup"><button class="btn btn-primary">S'inscrire</button></a>
    </div>

  </nav>
  <div id="menu" class="menuClosed">
      <a href="/" class="navItem">Accueil</a>
      <h3 class="menuItem"><a href="">APropos</a></h3>
      <h3 class="menuItem"><a href="/accounts/login">Se Connecter</a></h3>
      <h3 class="menuItem"><a href="/accounts/signup">S'inscrire</a></h3>
  </div>